*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  color: "#333";
}

* :focus {
  outline: none !important;
}

html {
  font-family: "Inter var", Roboto, Helvetica Neue, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

body {
  font-size: 62.5%;
  line-height: 1.4;
  overflow-x: hidden;
  font-feature-settings: "salt";
  background-color: rgb(244, 244, 244);
}

html,
body {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

html,
body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}
